<!DOCTYPE html>

<html>
    <head>
        <title>Basic App Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Some header</h1>
        <form id="loginspace" method="post">
            Username</br><input type="text" name="usernameEntry" value=""></br>
            Password</br><input type="password" name="userPass" > </br></br>
            <input type="submit" value="Enter">
        </form>
    </body>
</html>
